<!-- NAV -->
<nav id="nav">
  <div class="nav-logo">
    <a href="/">
        <img src="/images/jackie-reyes-yanes-logo-yellow-green.png" alt="Jackie logo">
        <div class="nav-wordmark">Jackie Reyes Yanes<span>Ward 1 · DC Council</span></div>
    </a>    
  </div>
  <div class="nav-right">
    <ul class="nav-links">
      <li><a href="/#platform">Platform</a></li>
      <li><a href="/#story">About Jackie</a></li>
      <li><a href="/#achievements">Track Record</a></li>
      <li><a href="/#news">News</a></li>
      <li><a href="/#ward">Our Ward</a></li>
      <li><a href="/#events">Events</a></li>
      <li><a href="/#action">Volunteer</a></li>
    </ul>
    <a href="https://secure.actblue.com/donate/jackie-reyes-yanes-1" target="_blank" class="nav-donate">Donate</a>
    <button class="ham" id="ham" onclick="toggleMenu()"><span></span><span></span><span></span></button>
  </div> 
</nav>


<div class="mobile-nav" id="mnav">
  <a href="#platform" onclick="toggleMenu()">Platform</a>
  <a href="#story" onclick="toggleMenu()">About Jackie</a>
  <a href="#achievements" onclick="toggleMenu()">Track Record</a>
  <a href="#news" onclick="toggleMenu()">News</a>
  <a href="#ward" onclick="toggleMenu()">Our Ward</a>
  <a href="#events" onclick="toggleMenu()">Events</a>
  <a href="#action" onclick="toggleMenu()">Volunteer</a>
  <a href="https://secure.actblue.com/donate/jackie-reyes-yanes-1" class="m-cta" target="_blank">Donate Now</a>
</div>