<!-- NAV -->
<nav id="nav">
  <div class="nav-logo">
    <a href="/">
        <img src="/images/jackie-reyes-yanes-logo-yellow-green.png" alt="Jackie logo">
        <div class="nav-wordmark">Jackie Reyes Yanes<span>Ward 1 · DC Council</span></div>
    </a>    
  </div>
  <nav class="nav-right">
    <ul class="nav-links">
      <li><a href="/#platform">Platform</a></li>
      <li><a href="/#story">About Jackie</a></li>
      <li><a href="/#achievements">Track Record</a></li>
      <li><a href="/#news">News</a></li>
      <li><a href="/#ward">Our Ward</a></li>
      <li><a href="/#events">Events</a></li>
      <li><a href="/#action">Volunteer</a></li>
    </ul>
    <a href="https://secure.actblue.com/donate/jackie-reyes-yanes-1" target="_blank" class="nav-donate">Donate</a>
    <button class="ham" id="ham" onclick="toggleMenu()"><span></span><span></span><span></span></button>
  </nav>
</nav>